
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: radial-gradient(circle at top, #0f0f1f, #000);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #eee;
}





.wheel-container {
  position: relative;
  width: 420px;
  height: 460px;
  text-align: center;
}

canvas {
  border-radius: 50%;
  box-shadow: 0 0 25px rgba(0,255,255,0.6), 0 0 50px rgba(0,255,180,0.3);
  transition: transform 0.3s ease;
}

button#spinBtn {
  position: absolute;
  top: 43%;
  left: 51%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid white;
  background: linear-gradient(135deg,#ff6a00,#ff0084);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0 0 6px rgba(0,0,0,0.8);
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 20px rgba(255,0,150,0.6);
}

button#spinBtn:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.pointer {
  position: absolute;
  top: 8%;
  right: -9px;       /* السهم في اليمين */
  transform: translateY(-50%) rotate(-45deg); /* لفة السهم يبقى داخل على العجلة */
  width: 80px;
  height: auto;
}


#result {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0 0 6px #000;
  opacity: 0;
  transition: opacity 0.8s ease;
}

@keyframes pulse {
  0% { box-shadow: 0 0 8px rgba(255,0,150,0.5), 0 0 16px rgba(255,100,0,0.4); }
  50% { box-shadow: 0 0 20px rgba(255,0,150,0.9), 0 0 30px rgba(255,100,0,0.7); }
  100% { box-shadow: 0 0 8px rgba(255,0,150,0.5), 0 0 16px rgba(255,100,0,0.4); }
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-8px); }
  50% { transform: translateX(8px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}
